h3 {
    font-size: 2em;
    margin-left: 0.67em 0;
    color: #626262;
    font-family: "Playfair Display";
  }
h5 {
      color: #b4ad9e;
      margin-left: 0.67em 0;
      font-family: "Playfair Display";
  }
p {
    margin: 0.67em 0;
    font-family: "Ubuntu";
    margin-left: 0.67em 0;
    color: #626262;
  }
.img1{

  }